<a href="https://colab.research.google.com/github/ardra1111/Wheel-Wise/blob/main/Wheel_Wise_Car_Price_Predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q kaggle

In [2]:
from google.colab import drive
drive.mount("/gdrive")

Mounted at /gdrive

In [3]:
from google.colab import files

In [4]:
files.upload()

Saving kaggle.json to kaggle (6).json

{'kaggle (6).json': b'{"username":"ardraajay","key":"4f904d5a4b25b9f86a905466fa4d77b7"}'}

In [5]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '/content'

In [6]:
%cd /content/kaggle.json

[Errno 20] Not a directory: '/content/kaggle.json'
/content

In [7]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [8]:
!cp /content/kaggle.json ~/.kaggle

In [9]:
!chmod 600 /content/kaggle.json

In [10]:
!kaggle datasets download -d austinreese/craigslist-carstrucks-data

craigslist-carstrucks-data.zip: Skipping, found more recently modified local copy (use --force to force download)

In [11]:
!unzip /content/craigslist-carstrucks-data.zip

Archive:  /content/craigslist-carstrucks-data.zip
replace vehicles.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

#**UNDERSTANDING THE DATA**

In [12]:
import pandas as pd

In [13]:
data = pd.read_csv("/content/vehicles.csv")

In [14]:
data.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [15]:
data.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [16]:
data.shape

(426880, 26)

# **DATA CLEANING**

**Removing Unwanted Columns That Does Not Affect The Price**

In [17]:
data.drop(labels= data.columns[0:4], axis=1,inplace=True)

In [18]:
data.drop(labels= data.columns[15:], axis=1,inplace=True)

In [19]:
data.drop(labels=["title_status","VIN"], axis=1,inplace=True)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         426880 non-null  int64
 1   year          425675 non-null  float64
 2   manufacturer  409234 non-null  object
 3   model         421603 non-null  object
 4   condition     252776 non-null  object
 5   cylinders     249202 non-null  object
 6   fuel          423867 non-null  object
 7   odometer      422480 non-null  float64
 8   transmission  424324 non-null  object
 9   drive         296313 non-null  object
 10  size          120519 non-null  object
 11  type          334022 non-null  object
 12  paint_color   296677 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 42.3+ MB

In [21]:
data.shape

(426880, 13)

**Checking How Many Missing Values**

In [22]:
data.isna()

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,transmission,drive,size,type,paint_color
0,False,True,True,True,True,True,True,True,True,True,True,True,True
1,False,True,True,True,True,True,True,True,True,True,True,True,True
2,False,True,True,True,True,True,True,True,True,True,True,True,True
3,False,True,True,True,True,True,True,True,True,True,True,True,True
4,False,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,False,False,False,False,False,False,False,False,False,False,True,False,True
426876,False,False,False,False,False,True,False,False,False,False,True,False,False
426877,False,False,False,False,False,True,False,False,False,True,True,False,False
426878,False,False,False,False,False,False,False,False,False,False,True,False,False
426879,False,False,False,False,False,True,False,False,False,False,True,False,True

In [23]:
data.isna().sum()

price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
transmission      2556
drive           130567
size            306361
type             92858
paint_color     130203
dtype: int64

In [24]:
data.dropna(axis=0,thresh=12,inplace=True) # axis 0 means row, thresh 12 means row with atleast 12 missing values.
#so this means remove rows which has 12 missing values

In [25]:
'''
#Performing label ecoding
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Assuming your DataFrame is named 'data'

# Identify non-numeric columns
non_numeric_columns = [column for column in data.columns if data[column].dtype == "object"]

# Create a LabelEncoder object
le = LabelEncoder()

# Apply label encoding to each non-numeric column
for column in non_numeric_columns:
    data[column] = le.fit_transform(data[column])

# Print the transformed DataFrame
print(data)
'''

'\n#Performing label ecoding \nimport pandas as pd\nfrom sklearn.preprocessing import LabelEncoder\n\n# Assuming your DataFrame is named \'data\'\n\n# Identify non-numeric columns\nnon_numeric_columns = [column for column in data.columns if data[column].dtype == "object"]\n\n# Create a LabelEncoder object\nle = LabelEncoder()\n\n# Apply label encoding to each non-numeric column\nfor column in non_numeric_columns:\n    data[column] = le.fit_transform(data[column])\n\n# Print the transformed DataFrame\nprint(data)\n'

In [26]:
'''
import pandas as pd

# Assuming your encoded DataFrame is still named 'data'

# Select the 'model' column and all other numeric columns
correlation_data = data[['model'] + data.select_dtypes(include=['number']).columns.tolist()]

# Calculate Pearson correlation
correlation = correlation_data.corr(method='pearson')

# Print the correlation matrix
print(correlation)
'''

"\nimport pandas as pd\n\n# Assuming your encoded DataFrame is still named 'data'\n\n# Select the 'model' column and all other numeric columns\ncorrelation_data = data[['model'] + data.select_dtypes(include=['number']).columns.tolist()]\n\n# Calculate Pearson correlation\ncorrelation = correlation_data.corr(method='pearson')\n\n# Print the correlation matrix\nprint(correlation)\n"

**FILLING MISSING VALUES**

In [27]:
data.isna().sum()

price               0
year                0
manufacturer     4059
model             975
condition       13570
cylinders        1766
fuel                0
odometer          408
transmission       11
drive            2491
size            36793
type             1893
paint_color      2856
dtype: int64

In [28]:
data["manufacturer"].value_counts()

ford               24663
chevrolet          21040
toyota             12227
honda               8115
nissan              7261
jeep                6783
gmc                 5635
ram                 5199
dodge               4886
bmw                 4699
mercedes-benz       4443
hyundai             3202
subaru              3136
lexus               2874
volkswagen          2750
kia                 2429
chrysler            2293
cadillac            2065
buick               1810
infiniti            1673
audi                1633
mazda               1597
acura               1494
lincoln             1410
pontiac             1014
mitsubishi           982
volvo                947
mini                 715
rover                593
mercury              583
saturn               459
jaguar               450
porsche              432
fiat                 203
alfa-romeo            88
tesla                 61
harley-davidson       49
ferrari               28
datsun                24
land rover             8
aston-martin           5
Name: manufacturer, dtype: int64

In [29]:
data["manufacturer"].fillna(value='ford',inplace=True)

In [30]:
data.isna().sum()

price               0
year                0
manufacturer        0
model             975
condition       13570
cylinders        1766
fuel                0
odometer          408
transmission       11
drive            2491
size            36793
type             1893
paint_color      2856
dtype: int64

In [31]:
data["odometer"].fillna(value=data["odometer"].mean(),inplace=True) #filling all the missing values in odometer with mean

In [32]:
data["condition"].unique()

array(['excellent', 'good', 'like new', 'new', 'fair', nan, 'salvage'],
      dtype=object)

In [33]:
data["condition"].value_counts()

excellent    59097
good         51580
like new     14128
fair          4547
new            732
salvage        363
Name: condition, dtype: int64

In [34]:
data["condition"].value_counts().index

Index(['excellent', 'good', 'like new', 'fair', 'new', 'salvage'], dtype='object')

In [35]:
data["condition"].fillna(value=data["condition"].value_counts().index[data["condition"].value_counts().argmax()],inplace=True)
data["paint_color"].fillna(value=data["paint_color"].value_counts().index[data["paint_color"].value_counts().argmax()],inplace=True)
data["transmission"].fillna(value=data["transmission"].value_counts().index[data["transmission"].value_counts().argmax()],inplace=True)

in data's condition argument fill the na (blanks) with the most frequent occuring condition's index using argmax it will ensure that the me arg max means the argument that is repeating the most.

In [36]:
data.isna().sum()

price               0
year                0
manufacturer        0
model             975
condition           0
cylinders        1766
fuel                0
odometer            0
transmission        0
drive            2491
size            36793
type             1893
paint_color         0
dtype: int64

**Creating A Cross Tabulation Table For Filling Models**

For filling up the missiing values in model
it creates a table with coloumn as the model name and the rows as the year intersection manufacturer.
which means the each row contain the number of cars that is in a perticular year and under the perticular manufacturer that comes under the column model

In [37]:
import numpy as np

In [38]:
year = np.array(data["year"])
manufacturer = np.array(data['manufacturer'])
model = np.array(data['model'])

In [39]:
crosstab_df = pd.crosstab([manufacturer,year],model,rownames=["manufacturer","year"], colnames=['model'])

In [40]:
crosstab_df

model                "t"  %  & altima  '99 H1 Hummer  (210)  (300)  \
manufacturer year
acura        1900.0    0  0         0              0      0      0
             1991.0    0  0         0              0      0      0
             1992.0    0  0         0              0      0      0
             1993.0    0  0         0              0      0      0
             1994.0    0  0         0              0      0      0
...                  ... ..       ...            ...    ...    ...
volvo        1966.0    0  0         0              0      0      0
             1967.0    0  0         0              0      0      0
             1970.0    0  0         0              0      0      0
             1971.0    0  0         0              0      0      0
             1972.0    0  0         0              0      0      0

model                (cng) 2500 express van  (s)port (s)edan  * vmi * ♿  -  \
manufacturer year
acura        1900.0                       0                0          0  0
             1991.0                       0                0          0  0
             1992.0                       0                0          0  0
             1993.0                       0                0          0  0
             1994.0                       0                0          0  0
...                                     ...              ...        ... ..
volvo        1966.0                       0                0          0  0
             1967.0                       0                0          0  0
             1970.0                       0                0          0  0
             1971.0                       0                0          0  0
             1972.0                       0                0          0  0

model                ...  z4 sdrive35i  z4 sdrive35is  z71  zdx  zephyr  \
manufacturer year    ...
acura        1900.0  ...             0              0    0    0       0
             1991.0  ...             0              0    0    0       0
             1992.0  ...             0              0    0    0       0
             1993.0  ...             0              0    0    0       0
             1994.0  ...             0              0    0    0       0
...                  ...           ...            ...  ...  ...     ...
volvo        1966.0  ...             0              0    0    0       0
             1967.0  ...             0              0    0    0       0
             1970.0  ...             0              0    0    0       0
             1971.0  ...             0              0    0    0       0
             1972.0  ...             0              0    0    0       0

model                zl1 camaro  zr2 sonoma  zx2  ♿  ♿ vmi
manufacturer year
acura        1900.0           0           0    0  0      0
             1991.0           0           0    0  0      0
             1992.0           0           0    0  0      0
             1993.0           0           0    0  0      0
             1994.0           0           0    0  0      0
...                         ...         ...  ... ..    ...
volvo        1966.0           0           0    0  0      0
             1967.0           0           0    0  0      0
             1970.0           0           0    0  0      0
             1971.0           0           0    0  0      0
             1972.0           0           0    0  0      0

[1708 rows x 14487 columns]

In [41]:
data['manufacturer'].unique()

array(['ford', 'gmc', 'chevrolet', 'toyota', 'jeep', 'nissan', 'honda',
       'dodge', 'chrysler', 'ram', 'mercedes-benz', 'infiniti', 'acura',
       'bmw', 'volkswagen', 'mazda', 'porsche', 'lexus', 'rover',
       'ferrari', 'audi', 'mitsubishi', 'kia', 'pontiac', 'hyundai',
       'fiat', 'cadillac', 'lincoln', 'jaguar', 'saturn', 'volvo',
       'alfa-romeo', 'buick', 'subaru', 'mini', 'mercury', 'tesla',
       'harley-davidson', 'datsun', 'land rover', 'aston-martin'],
      dtype=object)

In [42]:
mapping_dict = dict()

for single_col in crosstab_df:
  mapping_dict[single_col] = crosstab_df[single_col].index[crosstab_df[single_col].argmax()]

In [43]:
mapping_dict

{'"t"': ('ford', 1913.0),
 '%': ('ford', 2002.0),
 '& altima': ('chevrolet', 2006.0),
 "'99 H1 Hummer": ('ford', 1999.0),
 '(210)': ('chevrolet', 1955.0),
 '(300)': ('chrysler', 2006.0),
 '(cng) 2500 express van': ('chevrolet', 2012.0),
 '(s)port (s)edan': ('chevrolet', 1996.0),
 '* vmi * ♿': ('chrysler', 2006.0),
 '-': ('ford', 2004.0),
 '- 1500': ('ford', 2016.0),
 '- 240d': ('mercedes-benz', 1974.0),
 '- 328i - convertible': ('bmw', 1997.0),
 '- benz sprinter': ('mercedes-benz', 2019.0),
 '- isuzu npr landscape truck': ('ford', 2001.0),
 '- santa fe': ('hyundai', 2011.0),
 '-150 xlt': ('ford', 2014.0),
 '-benz e350': ('mercedes-benz', 2010.0),
 '-benz s430': ('mercedes-benz', 2004.0),
 '.Cadillac XLR convertible': ('ford', 2004.0),
 '/ accord': ('honda', 2013.0),
 '/ bertone x1/9': ('fiat', 1983.0),
 '/ braun': ('dodge', 2003.0),
 '/ durango sport': ('dodge', 2015.0),
 '/ vmi / ♿': ('chrysler', 2006.0),
 '// vmi // ♿': ('chrysler', 2006.0),
 '// vmi ♿': ('chrysler', 2006.0),
 '/mercury comet': ('lincoln', 1971.0),
 '/vmi conversion van': ('ford', 2013.0),
 '00000': ('ford', 2021.0),
 '02 chevy.': ('ford', 2002.0),
 '02 murcury mountaineer': ('ford', 2002.0),
 '037': ('chevrolet', 1954.0),
 '04 SUZUKI AERIO': ('ford', 2004.0),
 '04 chrayler 300m': ('ford', 2004.0),
 '04 mb ml350': ('ford', 2004.0),
 '05 f150': ('ford', 2005.0),
 '06 F250 Lariat': ('ford', 2006.0),
 '06 benz c280 4matic': ('ford', 2006.0),
 '07 Freightliner M2 Dump Plow': ('ford', 2007.0),
 '07 SONATA': ('ford', 2007.0),
 "08' mkz 79,ooo mi.": ('lincoln', 2008.0),
 '1': ('ford', 1991.0),
 '1 series': ('bmw', 2012.0),
 '1 series 128i': ('bmw', 2009.0),
 '1 series 128i convertible 2': ('bmw', 2009.0),
 '1 ton': ('chevrolet', 1974.0),
 '1 ton 3500': ('chevrolet', 2006.0),
 '1 ton dump bed': ('chevrolet', 1991.0),
 '1 ton power wagon': ('dodge', 1946.0),
 '1-series': ('bmw', 2008.0),
 '1-ton': ('chevrolet', 1990.0),
 '1-ton deluxe': ('chevrolet', 1984.0),
 '1.8t convertible 2d': ('audi', 2006.0),
 '1/2 ton expressvan': ('chevrolet', 2006.0),
 '1/2 ton pick up': ('ford', 1951.0),
 '1/2 ton pickup': ('chevrolet', 1960.0),
 '1/2 ton trucks': ('dodge', 2010.0),
 '100': ('gmc', 1959.0),
 '100 fleet utility': ('gmc', 1959.0),
 '100 pick-up truck': ('gmc', 1959.0),
 '100000': ('ford', 2004.0),
 '122': ('volvo', 1964.0),
 '122s': ('volvo', 1963.0),
 '1234': ('ford', 1979.0),
 '124 spider': ('fiat', 2017.0),
 '124 spider $25k': ('fiat', 2020.0),
 '124 spider abarth': ('fiat', 2017.0),
 '128': ('bmw', 2011.0),
 '128 i coupe': ('bmw', 2011.0),
 '128i': ('bmw', 2012.0),
 '128i 1-series coupe': ('bmw', 2013.0),
 '128i convertible': ('bmw', 2011.0),
 '128i coupe': ('bmw', 2009.0),
 '128ic': ('bmw', 2009.0),
 '135': ('bmw', 2009.0),
 '135,826': ('ford', 2007.0),
 '135i': ('bmw', 2011.0),
 '135i convertible': ('bmw', 2008.0),
 '135i m sport': ('bmw', 2008.0),
 '135is': ('bmw', 2013.0),
 '142000': ('ford', 2011.0),
 '15': ('ram', 2003.0),
 '15 passenger van': ('gmc', 1995.0),
 '15-PASSENGER VAN': ('ford', 1995.0),
 '15-pass. van': ('chevrolet', 1995.0),
 '150': ('ford', 2015.0),
 '150 pkup': ('dodge', 1952.0),
 '150 post': ('chevrolet', 1956.0),
 '150 xlt': ('ford', 2014.0),
 '150 xlt 4x4': ('ford', 2020.0),
 '1500': ('ram', 2014.0),
 '1500 2wd sport': ('ram', 2015.0),
 '1500 4 x 4': ('ram', 2015.0),
 '1500 4.7 slt': ('ram', 2006.0),
 '1500 4wd': ('ram', 1996.0),
 '1500 4wd crew cab 140.5"': ('ram', 2017.0),
 '1500 4wd laramie crew cab': ('ram', 2017.0),
 '1500 4x4': ('ram', 2015.0),
 '1500 4x4 crew cab': ('ram', 2013.0),
 '1500 4x4 hemi': ('ram', 2014.0),
 '1500 4x4 laramie': ('ram', 2010.0),
 '1500 4x4 slt': ('ram', 2013.0),
 '1500 4x4 v6': ('ram', 2014.0),
 '1500 4×4': ('ram', 2015.0),
 '1500 5.7 hemi': ('ram', 2008.0),
 '1500 avalanche ltz 4x4': ('chevrolet', 2009.0),
 '1500 big horn': ('ram', 2017.0),
 '1500 big horn 1 owner 4x4': ('ram', 2018.0),
 '1500 big horn 4x4': ('ram', 2014.0),
 '1500 big horn 4x4 crew cab': ('ram', 2014.0),
 '1500 big horn 4x4 hemi': ('ram', 2011.0),
 '1500 big horn classic': ('ram', 2019.0),
 '1500 big horn quad 305hp-3.6': ('ram', 2017.0),
 '1500 big horn | *one owner*,': ('ram', 2018.0),
 '1500 big horn/lone star': ('ram', 2012.0),
 '1500 bighorn': ('ram', 2020.0),
 '1500 bighorn 4x4': ('ram', 2019.0),
 '1500 classic': ('ram', 2020.0),
 '1500 classic big horn': ('ram', 2019.0),
 '1500 classic crew cab': ('ram', 2019.0),
 '1500 classic crew cab slt': ('ram', 2020.0),
 '1500 classic quad cab': ('ram', 2019.0),
 '1500 classic slt crewcab': ('ram', 2020.0),
 '1500 classic slt crewcab 4x4': ('ram', 2020.0),
 '1500 classic warlock': ('ram', 2020.0),
 '1500 conversation': ('chevrolet', 1998.0),
 '1500 conversion van': ('chevrolet', 1997.0),
 '1500 crew': ('ram', 2017.0),
 '1500 crew cab': ('ram', 2014.0),
 '1500 crew cab 4x4': ('ram', 2018.0),
 '1500 crew cab 6ft 4 bed': ('ram', 2018.0),
 '1500 crew cab big horn': ('ram', 2019.0),
 '1500 crew cab express': ('ram', 2014.0),
 '1500 crew cab express pickup': ('ram', 2017.0),
 '1500 crew cab hemi': ('ram', 2009.0),
 '1500 crew cab laramie': ('ram', 2015.0),
 '1500 crew cab laramie pickup': ('ram', 2019.0),
 '1500 crew cab ltz': ('chevrolet', 2015.0),
 '1500 crew cab slt pickup 4d': ('ram', 2018.0),
 '1500 crew cab sport': ('ram', 2012.0),
 '1500 crew cab tradesman': ('ram', 2017.0),
 '1500 crew cab4x4': ('ram', 2012.0),
 '1500 custom pick up': ('gmc', 1970.0),
 '1500 diesel': ('ram', 2016.0),
 '1500 eco diesel': ('ram', 2016.0),
 '1500 ecodiesel': ('ram', 2015.0),
 '1500 express': ('ram', 2016.0),
 '1500 express crew cab': ('ram', 2014.0),
 '1500 ext cab': ('ram', 1998.0),
 '1500 extended cab': ('chevrolet', 1995.0),
 '1500 extended cab 4x4': ('chevrolet', 2013.0),
 '1500 flex fuel': ('gmc', 2012.0),
 '1500 harvest': ('ram', 2018.0),
 '1500 hemi': ('ram', 2014.0),
 '1500 hemi 4x4': ('ram', 2012.0),
 '1500 hemi crew': ('ram', 2005.0),
 '1500 hemi express': ('ram', 2012.0),
 '1500 hemi v8': ('ram', 2012.0),
 '1500 hemi, daytona': ('ram', 2005.0),
 '1500 laramie': ('ram', 2018.0),
 '1500 laramie 4wd': ('ram', 2008.0),
 '1500 laramie 4x4': ('ram', 2007.0),
 '1500 laramie crew cab': ('ram', 2017.0),
 '1500 laramie crew cab 4wd': ('ram', 2015.0),
 '1500 laramie crewcab 4x4': ('ram', 2019.0),
 '1500 laramie ecodiesel': ('ram', 2016.0),
 '1500 laramie limited': ('ram', 2015.0),
 '1500 laramie longhorn': ('ram', 2012.0),
 '1500 laramie longhorn 4x4': ('ram', 2017.0),
 '1500 laramie quad cab': ('ram', 2005.0),
 '1500 laramie slt': ('ram', 1999.0),
 '1500 laramie sport': ('ram', 2019.0),
 '1500 limited': ('ram', 2019.0),
 '1500 limited 4x4': ('ram', 2019.0),
 '1500 lone star': ('ram', 2006.0),
 '1500 lonestar': ('ram', 2014.0),
 '1500 lonestar 4x4': ('ram', 2016.0),
 '1500 longhorn limited': ('ram', 2014.0),
 '1500 mega cab': ('ram', 2007.0),
 '1500 mega cab 4x4': ('ram', 2008.0),
 '1500 megacab slt': ('ram', 2007.0),
 '1500 orange': ('ram', 2013.0),
 '1500 outdoorsman': ('ram', 2017.0),
 '1500 outdoorsman 4wd': ('ram', 2014.0),
 '1500 outdoorsman 4x4': ('ram', 2013.0),
 '1500 pickup truck': ('ram', 2006.0),
 '1500 quad cab': ('ram', 2014.0),
 '1500 quad cab 4 x 4': ('ram', 2016.0),
 '1500 quad cab 4x4': ('ram', 2004.0),
 '1500 quad cab big horn': ('ram', 2018.0),
 '1500 quad cab harvest pickup': ('ram', 2018.0),
 '1500 quad cab hemi': ('ram', 2012.0),
 '1500 quad cab laramie pickup': ('ram', 2014.0),
 '1500 quad cab slt': ('ram', 2012.0),
 '1500 quad cab slt pickup 4d': ('ram', 2015.0),
 '1500 quad cab sport': ('ram', 2010.0),
 '1500 quad cab sxt': ('ram', 2008.0),
 '1500 quad cab tradesman': ('ram', 2017.0),
 '1500 r/t': ('ram', 2014.0),
 '1500 r/t sport 4wd': ('ram', 2012.0),
 '1500 rebel': ('ram', 2018.0),
 '1500 rebel 4x4 off road': ('ram', 2017.0),
 '1500 rebel crew cab': ('ram', 2019.0),
 '1500 reg cab st': ('ram', 2004.0),
 '1500 regular cab': ('ram', 2011.0),
 '1500 regular cab lone star': ('ram', 2018.0),
 '1500 rt': ('ram', 2011.0),
 '1500 savana conversion van': ('gmc', 2001.0),
 '1500 sb': ('chevrolet', 1991.0),
 '1500 sierra': ('gmc', 1999.0),
 '1500 sierra all-terrain': ('gmc', 2014.0),
 '1500 sierra crew cab': ('gmc', 2010.0),
 '1500 sierra denali': ('gmc', 2009.0),
 '1500 sierra sle': ('gmc', 2013.0),
 '1500 sierra slt': ('gmc', 2014.0),
 '1500 silverado': ('chevrolet', 2011.0),
 '1500 silverado 4x4': ('chevrolet', 2011.0),
 '1500 silverado ltz z71': ('chevrolet', 2008.0),
 '1500 sl sierra': ('gmc', 1991.0),
 '1500 slt': ('ram', 2016.0),
 '1500 slt 4x4': ('ram', 2013.0),
 '1500 slt 4x4 big horn': ('ram', 2014.0),
 '1500 slt big horn': ('ram', 2013.0),
 '1500 slt crew cab 4x2': ('ram', 2018.0),
 '1500 slt crew cab 4x4': ('ram', 2010.0),
 '1500 slt crew cab swb 4wd': ('ram', 2017.0),
 '1500 slt crewcab 4x4': ('ram', 2020.0),
 '1500 slt laramie 4x4': ('ram', 1998.0),
 '1500 slt mega cab 4x4': ('ram', 2007.0),
 '1500 slt quad cab': ('ram', 2014.0),
 '1500 slt quad cab 4wd': ('ram', 2009.0),
 '1500 slt quad cab 4x4': ('ram', 2015.0),
 '1500 slt sport': ('ram', 2008.0),
 '1500 sport': ('ram', 2012.0),
 '1500 sport 4x4': ('ram', 2019.0),
 '1500 sport crew cab': ('ram', 2018.0),
 '1500 sport crewcab 4x4': ('ram', 2018.0),
 '1500 sport r/t hemi': ('ram', 2017.0),
 '1500 st': ('ram', 2007.0),
 '1500 st 4x4': ('ram', 2003.0),
 '1500 st express': ('ram', 2018.0),
 '1500 st express black': ('ram', 2014.0),
 '1500 st quad cab': ('ram', 2012.0),
 '1500 st quad cab 4x4': ('ram', 2016.0),
 '1500 st rwd': ('ram', 2017.0),
 '1500 stl': ('ram', 2003.0),
 '1500 suburban': ('gmc', 1999.0),
 '1500 suburban z71': ('chevrolet', 2008.0),
 '1500 tradesman': ('ram', 2014.0),
 '1500 tradesman 4x4': ('ram', 2015.0),
 '1500 tradesman hemi': ('ram', 2018.0),
 '1500 trail boss': ('chevrolet', 2019.0),
 '1500 truck': ('chevrolet', 1990.0),
 '1500 trx': ('ram', 2021.0),
 '1500 yukon denali xl': ('gmc', 2008.0),
 '1500 yukon slt': ('gmc', 2015.0),
 '1500, slt': ('ram', 2013.0),
 '1500/4x4': ('ram', 2011.0),
 '1500laramie 4x4': ('ram', 2014.0),
 '155,037': ('ford', 2007.0),
 '158000': ('ford', 2009.0),
 '1600': ('datsun', 1968.0),
 '1600 roadster': ('datsun', 1969.0),
 '17 Focus base': ('ford', 2017.0),
 '1800e': ('volvo', 1971.0),
 '190e': ('ford', 1993.0),
 '1923 Dort Coupe': ('ford', 1923.0),
 '1928 Crysler': ('ford', 1928.0),
 '1928 Ford, Pickup Truck': ('ford', 1928.0),
 '1928 Pierce Arrow Model 81': ('ford', 1928.0),
 '1929 ssk replica': ('mercedes-benz', 1974.0),
 '1930 shay repoduction': ('ford', 1930.0),
 '1931 Studebaker': ('ford', 1931.0),
 '1932 Riley Convertible': ('ford', 1937.0),
 '1935 Austin Nippy': ('ford', 1935.0),
 '1935 International': ('ford', 1935.0),
 '1935 Plymouth sedan': ('ford', 1935.0),
 '1936 International': ('ford', 1936.0),
 '1939 international': ('ford', 1939.0),
 '1940 LASALLE': ('ford', 1940.0),
 '1941 Willys coupe': ('ford', 1941.0),
 '1942': ('ford', 1942.0),
 '1946 Plymouth': ('ford', 1946.0),
 '1947': ('ford', 1947.0),
 '1947 sedan delivery': ('ford', 1947.0),
 '1948 international harvester': ('ford', 1948.0),
 '1949 Olds 98': ('ford', 1949.0),
 '1950 Oldsmobile': ('ford', 1950.0),
 '1950 Plymouth Coupe': ('ford', 1950.0),
 '1950 Studebaker': ('ford', 1950.0),
 '1951 Studebaker': ('ford', 1951.0),
 '1951 Studebaker 2R5 Pick up': ('ford', 1951.0),
 '1952 Bentley Mark VI': ('ford', 1952.0),
 '1952 Kaiser Frazier Henry j': ('ford', 1952.0),
 '1952 MG': ('ford', 1952.0),
 '1952 MGTD Kit Car': ('ford', 1988.0),
 '1952 Willys M38': ('ford', 1952.0),
 '1952 mgtd': ('ford', 1952.0),
 '1953 customline': ('ford', 1953.0),
 '1953 packard': ('ford', 1953.0),
 '1954': ('chevrolet', 1954.0),
 '1954 skyline': ('ford', 1954.0),
 '1955 panel wagon': ('ford', 1955.0),
 '1956 New Yorker': ('ford', 1956.0),
 '1957 Studerbaker': ('ford', 1957.0),
 '1958 tr3 rat rod': ('ford', 1958.0),
 '1959 Edsel Ranger 4D Sedan': ('ford', 1959.0),
 '1959 f-100': ('ford', 1959.0),
 '1959 willy': ('ford', 1959.0),
 '1960 Austin Healey Sprite': ('ford', 1960.0),
 '1960 corvette': ('ford', 1960.0),
 '1962 FordThunderbird': ('ford', 1962.0),
 '1962 Galaxie XL 500': ('ford', 1962.0),
 '1963': ('ford', 1963.0),
 '1964 Oldsmobile f85': ('ford', 1964.0),
 '1964 Plymouth': ('ford', 1964.0),
 '1964 Plymouth  Sport Fury': ('ford', 1964.0),
 '1964 c10': ('ford', 1964.0),
 '1964 oldsmobile dynamic': ('ford', 1964.0),
 '1965 F-100': ('ford', 1965.0),
 '1965 Plymouth barracuda': ('ford', 1965.0),
 '1965 Pontaic GTO': ('ford', 1965.0),
 '1965 amc rambler': ('ford', 1965.0),
 '1965 barracuda': ('ford', 1965.0),
 '1965 corvette': ('ford', 1965.0),
 '1965 econoline pickup': ('ford', 1965.0),
 '1966': ('ford', 1966.0),
 '1966 C-30 1 ton': ('ford', 1966.0),
 '1966 ElCamino': ('ford', 1966.0),
 '1966 Impala': ('ford', 1966.0),
 '1966 Oldsmobile Toronado': ('ford', 1966.0),
 '1966 Volkswagan Convertible Bug': ('ford', 1966.0),
 '1966 c10': ('ford', 1966.0),
 '1966 gto': ('ford', 1966.0),
 '1966 olds': ('ford', 1966.0),
 '1967 Chevelle': ('ford', 1967.0),
 '1967 Corvair': ('ford', 1967.0),
 '1967 Dune Buggy': ('ford', 1967.0),
 '1967 Firebird': ('ford', 1967.0),
 '1967 MG Midget': ('ford', 1967.0),
 '1967 Nova SS': ('ford', 1967.0),
 '1967 Plymouth Belvedere': ('ford', 1967.0),
 '1967 Plymouth Valiant Signet': ('ford', 1967.0),
 '1967 camaro': ('ford', 1967.0),
 '1967 chevelle El Camino': ('ford', 1967.0),
 '1967 corvair': ('ford', 1967.0),
 '1967 fordvan': ('ford', 1967.0),
 '1967 mustang': ('ford', 1967.0),
 '1968 Chevelle': ('ford', 1968.0),
 '1968 Torino Squire Station Wagon': ('ford', 1968.0),
 '1968 camaro convertible': ('ford', 1968.0),
 '1968 speciality': ('ford', 1968.0),
 '1969 AMX': ('ford', 1969.0),
 '1969 C10': ('ford', 1969.0),
 '1969 Corvette Stingray': ('ford', 1969.0),
 '1969 Cougar Eliminator': ('ford', 1969.0),
 '1969 El Camino': ('ford', 1969.0),
 '1969 F250': ('ford', 1969.0),
 '1969 GTO': ('ford', 1969.0),
 '1969 Oldsmobile Convertible': ('ford', 1969.0),
 '1969 SS 396/325': ('ford', 1969.0),
 '1969 chevelle': ('ford', 1969.0),
 '1969 montego': ('ford', 1969.0),
 '1970 Plymouth’Cuda': ('ford', 1970.0),
 '1970s cj5': ('ford', 1970.0),
 '1971 Bug Conv.': ('ford', 1971.0),
 '1971 Le Mans': ('ford', 1971.0),
 '1971 V.W. BEETLE': ('ford', 1971.0),
 '1971 el camino': ('ford', 1971.0),
 '1971 f-350': ('ford', 1971.0),
 '1972 Karman Ghia': ('ford', 1972.0),
 '1972 Plymouth Satellite': ('ford', 1972.0),
 '1972 corvette': ('ford', 1972.0),
 '1972 oldsmobile delta 88 royale': ('ford', 1972.0),
 '1972 short wheel base': ('chevrolet', 1972.0),
 '1972oldsmoble': ('ford', 1972.0),
 '1973 Opel GT': ('ford', 1973.0),
 '1973VOLKSWAGEN BEETLE': ('ford', 1973.0),
 '1974': ('ford', 1974.0),
 '1974 Triumph Spitfire 1500': ('ford', 1974.0),
 '1974 corvette': ('ford', 1974.0),
 '1974chevrolet ,3500': ('ford', 1974.0),
 '1975 Delta 88 Royale Convertible': ('ford', 1975.0),
 '1975 Triumph Spitfire': ('ford', 1975.0),
 '1975 mustang 2': ('ford', 1975.0),
 '1976': ('ford', 1976.0),
 '1976 MG midget': ('ford', 1976.0),
 '1976 MGB': ('ford', 1976.0),
 '1976 T-Bird': ('ford', 1976.0),
 '1976 corvette stingray': ('ford', 1976.0),
 '1977 F-350 Super Cab': ('ford', 1977.0),
 '1977 F250 Lowboy': ('ford', 1977.0),
 '1977 International': ('ford', 1977.0),
 '1977 MGB Tourer': ('ford', 1977.0),
 '1977 corvette': ('ford', 1977.0),
 '1977 international scout': ('ford', 1977.0),
 '1977 mgb convertible': ('ford', 1977.0),
 '1978 C 10': ('ford', 1978.0),
 '1978 F100': ('ford', 1978.0),
 '1978 FJ40 Landcruiser': ('ford', 1978.0),
 '1978 MGB': ('ford', 1978.0),
 '1978 Nova': ('ford', 1978.0),
 '1978 bronco': ('ford', 1978.0),
 '1978 c20 pickup': ('ford', 1978.0),
 '1978 chevy4x4': ('ford', 1978.0),
 '1978 corvette': ('ford', 1978.0),
 '1978 el camino': ('ford', 1978.0),
 '1978 f100': ('ford', 1978.0),
 '1979 Corvette': ('ford', 1979.0),
 '1979 MGB': ('ford', 1979.0),
 '1979 triumph spitfire': ('ford', 1979.0),
 '198.5': ('ford', 1998.0),
 '1980 MGB MK4': ('ford', 1980.0),
 '1980 Mercedes- Benz 450 SL': ('ford', 1980.0),
 '1980 Sprint Race Car': ('ford', 1980.0),
 '1980 mgb': ('ford', 1980.0),
 '1981 El Camino': ('ford', 1981.0),
 '1981 corvette': ('ford', 1981.0),
 '1982': ('ford', 1982.0),
 '1982 F150': ('ford', 1982.0),
 '1982 Rat': ('ford', 1982.0),
 '1982 corvette': ('ford', 1982.0),
 '1982 oldsmobil': ('ford', 1982.0),
 '1983 Mustange Convertible': ('ford', 1983.0),
 '1983 Oldsmobile 98': ('ford', 1983.0),
 '1983 Oldsmobile 98 Regency': ('ford', 1983.0),
 '1984 AM General DJ5': ('ford', 1984.0),
 '1984 Bronco II': ('ford', 1984.0),
 '1984 CJ-7': ('ford', 1984.0),
 '1984 trans am': ('ford', 1984.0),
 '1985  el camino': ('ford', 1985.0),
 '1985 Mustang GT': ('ford', 1985.0),
 '1985 Volkswagon Vanagon': ('ford', 1985.0),
 '1985 blazer': ('chevrolet', 1985.0),
 '1985 corvette': ('ford', 1985.0),
 '1986 Monte Carlo ss': ('ford', 1986.0),
 '1986 cutlass supreme brougham': ('ford', 1986.0),
 '1986 gl': ('ford', 1986.0),
 '1986 suzuki Samurai': ('ford', 1986.0),
 '1986. 250. lariat': ('ford', 1986.0),
 '1987': ('ford', 1987.0),
 '1987 ALPHA SPIDERVELOCCE': ('ford', 1987.0),
 '1987 AM General HUMVEE': ('ford', 1987.0),
 '1987 Bronco II': ('ford', 1987.0),
 '1987 Saab 900': ('ford', 1987.0),
 '1987 Saab 900 Turbo': ('ford', 1987.0),
 '1987 corvette': ('ford', 1987.0),
 '1987 humvee': ('ford', 1994.0),
 '1988 Nisan': ('ford', 1988.0),
 '1988 Suzuki Samurai': ('ford', 1988.0),
 '1988 k5 blazer': ('ford', 1988.0),
 '1988 scottsdale plow truck': ('chevrolet', 1988.0),
 '1989 Camaro RS': ('ford', 1989.0),
 '1989 KME Ladder Truck': ('ford', 1989.0),
 '1989 Mustang lx v8 convertible': ('ford', 1989.0),
 '1989 RX7': ('ford', 1989.0),
 '1989 cummins truck': ('dodge', 1989.0),
 '1990': ('ford', 1990.0),
 '1990 Daihatsu  Rocky SE': ('ford', 1990.0),
 '1990 Geo tracker 2dr tintop': ('ford', 1990.0),
 '1990 P 30': ('ford', 1990.0),
 '1990 nChevy Cheyenne': ('ford', 1990.0),
 '1991 MAXDA MIATA': ('ford', 1991.0),
 '1991 OLDSMOBILE CUTLASS SUPREME': ('ford', 1991.0),
 '1991 corvette': ('ford', 1991.0),
 '1991 grand Marquis': ('ford', 1991.0),
 '1991 lotus elan se': ('ford', 1991.0),
 '1992 Benz': ('ford', 1992.0),
 '1992 ChevyVan G10': ('ford', 1992.0),
 '1992 Corvette': ('ford', 1992.0),
 '1992 Suzuki Cappucino': ('ford', 1992.0),
 '1992 Suzuki Samari': ('ford', 1992.0),
 '1992 geo metro': ('ford', 1992.0),
 '1993 3000gt': ('ford', 1993.0),
 '1993 300ZX': ('ford', 1990.0),
 '1993 Mustang': ('ford', 1993.0),
 '1994 DAIHATSU HIJET': ('ford', 1994.0),
 '1994 Daihatsu Hijet': ('ford', 1994.0),
 '1994 International 4700': ('ford', 1994.0),
 '1994 Mustang GT Convertible': ('ford', 1994.0),
 '1994 SUZUKI CARRY': ('ford', 1994.0),
 '1995 Le Baron': ('ford', 1995.0),
 '1995 PIERCE SABER FIRE TRUCK': ('ford', 1995.0),
 '1995 Saab 9000': ('ford', 1995.0),
 '1995 Thomas': ('ford', 1995.0),
 '1995 g20 van': ('chevrolet', 1995.0),
 '1995 mustang': ('ford', 1995.0),
 '1995 thunderbird': ('ford', 1995.0),
 '1996 Ciera': ('ford', 1996.0),
 '1996 Isuzu Rodeo': ('ford', 1996.0),
 '1996 Madza Mx5': ('ford', 2008.0),
 '1996 cierra': ('ford', 1996.0),
 '1996 monte carlo': ('ford', 1996.0),
 '1996 s10 ss': ('ford', 1996.0),
 '1997': ('ford', 1997.0),
 '1997 AMC M38': ('ford', 1997.0),
 '1997 CAMARO': ('ford', 1997.0),
 '1997 F350 4x4': ('ford', 1997.0),
 '1997 Ranger': ('ford', 1997.0),
 '1997 toy t100': ('ford', 1997.0),
 '1998': ('ford', 1998.0),
 '1998 CORVETTE  PACE CAR': ('ford', 1998.0),
 '1998 Corvette Coupe': ('ford', 1998.0),
 '1998 Jep Wrangler': ('ford', 1998.0),
 '1998 Mack': ('ford', 1998.0),
 '1998 Plymouth Voyager': ('ford', 1998.0),
 '1998 do-466': ('ford', 1998.0),
 '1998 mustang': ('ford', 1998.0),
 '1998 mustang gt convertible': ('ford', 1998.0),
 '1998 slk230 amg kompressor': ('ford', 1998.0),
 '1999': ('ford', 1999.0),
 '1999 CL500': ('ford', 1999.0),
 '1999 Cheyenne': ('ford', 1999.0),
 '1999 F-350 Super Duty XLT': ('ford', 1999.0),
 '1999 F150 4X4': ('ford', 1999.0),
 '1999 Izuzu Rodeo LS': ('ford', 1999.0),
 '1999 Oldsmobile bradvo': ('ford', 1999.0),
 '1999 Saab 9-3': ('ford', 1999.0),
 '1999 Saab 9-3 Trims': ('ford', 1999.0),
 '1999 Z71': ('ford', 1999.0),

In [44]:
for k,v in mapping_dict.items():
  boolean_mask = (data["year"] == v[1]) & (data["manufacturer"] == v[0])
  data.loc[boolean_mask,"model"] = data.loc[boolean_mask,"model"].fillna(value=k,inplace=False)

In [45]:
data.isna().sum()

price               0
year                0
manufacturer        0
model              94
condition           0
cylinders        1766
fuel                0
odometer            0
transmission        0
drive            2491
size            36793
type             1893
paint_color         0
dtype: int64

In [46]:
data["model"].value_counts()

f-150                      2725
silverado 1500             2344
1500                       1208
camry                      1208
accord                     1160
                           ...
2008 GL 450 4matic            1
2006 f350                     1
model x 100d                  1
PETERBILT 389 EXT HOOD        1
Paige Glenbrook Touring       1
Name: model, Length: 14487, dtype: int64

In [47]:
data['model'].fillna(value='f-150', inplace =True)

In [48]:
data.isna().sum()

price               0
year                0
manufacturer        0
model               0
condition           0
cylinders        1766
fuel                0
odometer            0
transmission        0
drive            2491
size            36793
type             1893
paint_color         0
dtype: int64

**CREATING A CROSS TAB FOR FILLING CYLINDERS**

For filling up the missiing values in cylinders it creates a table with coloumn as the number of cylinders and the rows as the intersection of model and manufacturer. which means the each block contain the number of cylinders that of  the perticular manufacturer and model.

In [49]:
cylinders = np.array(data["cylinders"])
manufacturer = np.array(data['manufacturer'])
model = np.array(data['model'])

In [50]:
second_crosstab_df = pd.crosstab([manufacturer,model],cylinders,rownames=["manufacturer","model"], colnames=['cylinders'])

In [51]:
second_crosstab_df

cylinders                                10 cylinders  12 cylinders  \
manufacturer model
acura        2002 rsx type s                        0             0
             3.0cl                                  0             0
             3.2 cl type s                          0             0
             3.2 tl                                 0             0
             3.2 tl - sport                         0             0
...                                               ...           ...
volvo        xc90 t6 awd                            0             0
             xc90 t8 hybrid inscription             0             0
             xc90 t8 inscription                    0             0
             xc90 v8                                0             0
             xc90 v8 awd                            0             0

cylinders                                3 cylinders  4 cylinders  \
manufacturer model
acura        2002 rsx type s                       0            2
             3.0cl                                 0            0
             3.2 cl type s                         0            0
             3.2 tl                                0            0
             3.2 tl - sport                        0            0
...                                              ...          ...
volvo        xc90 t6 awd                           0            1
             xc90 t8 hybrid inscription            0            0
             xc90 t8 inscription                   0            0
             xc90 v8                               0            0
             xc90 v8 awd                           0            0

cylinders                                5 cylinders  6 cylinders  \
manufacturer model
acura        2002 rsx type s                       0            0
             3.0cl                                 0            3
             3.2 cl type s                         0            3
             3.2 tl                                0            8
             3.2 tl - sport                        0            1
...                                              ...          ...
volvo        xc90 t6 awd                           0            2
             xc90 t8 hybrid inscription            0            6
             xc90 t8 inscription                   0            1
             xc90 v8                               0            0
             xc90 v8 awd                           0            0

cylinders                                8 cylinders  other
manufacturer model
acura        2002 rsx type s                       0      0
             3.0cl                                 0      0
             3.2 cl type s                         0      0
             3.2 tl                                0      0
             3.2 tl - sport                        0      0
...                                              ...    ...
volvo        xc90 t6 awd                           0      0
             xc90 t8 hybrid inscription            0      0
             xc90 t8 inscription                   0      0
             xc90 v8                               2      0
             xc90 v8 awd                           1      0

[14692 rows x 8 columns]

In [52]:
data['cylinders'].unique()

array(['6 cylinders', '8 cylinders', nan, '4 cylinders', '5 cylinders',
       '10 cylinders', '3 cylinders', 'other', '12 cylinders'],
      dtype=object)

In [53]:
second_mapping_dict = dict()
for single_col in second_crosstab_df:
  second_mapping_dict[single_col] = second_crosstab_df[single_col].index[second_crosstab_df[single_col].argmax()]

In [54]:
for k,v in second_mapping_dict.items():
  boolean_mask = (data["model"] == v[1]) & (data["manufacturer"] == v[0])
  data.loc[boolean_mask,"cylinders"] = data.loc[boolean_mask,"cylinders"].fillna(value=k,inplace=False)

In [55]:
print(data.isna().sum())

price               0
year                0
manufacturer        0
model               0
condition           0
cylinders        1505
fuel                0
odometer            0
transmission        0
drive            2491
size            36793
type             1893
paint_color         0
dtype: int64

In [56]:
data['cylinders'].value_counts()

6 cylinders     52139
4 cylinders     45561
8 cylinders     41880
5 cylinders      1088
10 cylinders      965
other             441
3 cylinders       339
12 cylinders       99
Name: cylinders, dtype: int64

In [57]:
data["cylinders"].fillna(value=data["cylinders"].value_counts().index[data["cylinders"].value_counts().argmax()],inplace=True)

In [58]:
data.isna().sum()

price               0
year                0
manufacturer        0
model               0
condition           0
cylinders           0
fuel                0
odometer            0
transmission        0
drive            2491
size            36793
type             1893
paint_color         0
dtype: int64

**CREATING A CROSS TAB FOR FILLING DRIVE**

For filling up the missiing values in drive. it creates a table with coloumn as the type of drive and the rows as the intersection of model and manufacturer. which means the each block contain the type of drive that of the perticular manufacturer and model.

In [59]:
data['drive'].unique()

array(['rwd', '4wd', 'fwd', nan], dtype=object)

In [60]:
drive = np.array(data["drive"])
manufacturer = np.array(data['manufacturer'])
model = np.array(data['model'])

In [61]:
crosstab_df_dr = pd.crosstab([manufacturer,model],drive,rownames=["manufacturer","model"], colnames=['drive'])

In [62]:
crosstab_df_dr

drive                                    4wd  fwd  rwd
manufacturer model
acura        2002 rsx type s               0    2    0
             3.0cl                         0    2    0
             3.2 cl type s                 0    1    0
             3.2 tl                        0    7    1
             3.2 tl - sport                0    0    1
...                                      ...  ...  ...
volvo        xc90 t6 awd                   3    0    0
             xc90 t8 hybrid inscription    6    0    0
             xc90 t8 inscription           1    0    0
             xc90 v8                       2    0    0
             xc90 v8 awd                   1    0    0

[14617 rows x 3 columns]

In [63]:
drive_mapping_dict = dict()
for single_col in crosstab_df_dr:
  drive_mapping_dict[single_col] = crosstab_df_dr[single_col].index[crosstab_df_dr[single_col].argmax()]

In [64]:
for k,v in drive_mapping_dict.items():
  boolean_mask = (data["model"] == v[1]) & (data["manufacturer"] == v[0])
  data.loc[boolean_mask,"drive"] = data.loc[boolean_mask,"drive"].fillna(value=k,inplace=False)

In [65]:
data.isna().sum()

price               0
year                0
manufacturer        0
model               0
condition           0
cylinders           0
fuel                0
odometer            0
transmission        0
drive            2431
size            36793
type             1893
paint_color         0
dtype: int64

In [66]:
data['drive'].value_counts()

4wd    59273
fwd    47824
rwd    34489
Name: drive, dtype: int64

In [67]:
data["drive"].fillna(value=data["drive"].value_counts().index[data["drive"].value_counts().argmax()],inplace=True)

In [68]:
data.isna().sum()

price               0
year                0
manufacturer        0
model               0
condition           0
cylinders           0
fuel                0
odometer            0
transmission        0
drive               0
size            36793
type             1893
paint_color         0
dtype: int64

**CREATING A CROSS TAB FOR FILLING SIZE**

For filling up the missiing values in size. it creates a table with coloumn as the type of sizes and the rows as the intersection of model and manufacturer. which means the each block contain the type of size that of the perticular manufacturer and model.

In [69]:
data['size'].unique()

array(['full-size', nan, 'mid-size', 'compact', 'sub-compact'],
      dtype=object)

In [70]:
size = np.array(data["size"])
manufacturer = np.array(data['manufacturer'])
model = np.array(data['model'])

In [71]:
crosstab_df_sz = pd.crosstab([manufacturer,model],size,rownames=["manufacturer","model"], colnames=['size'])

In [72]:
crosstab_df_sz

size                                     compact  full-size  mid-size  \
manufacturer model
acura        2002 rsx type s                   0          0         0
             3.0cl                             3          0         0
             3.2 cl type s                     0          2         1
             3.2 tl                            0          3         4
             3.2 tl - sport                    0          1         0
...                                          ...        ...       ...
volvo        xc90 t6 awd                       0          1         0
             xc90 t8 hybrid inscription        0          6         0
             xc90 t8 inscription               0          0         1
             xc90 v8                           0          2         0
             xc90 v8 awd                       0          0         1

size                                     sub-compact
manufacturer model
acura        2002 rsx type s                       1
             3.0cl                                 0
             3.2 cl type s                         0
             3.2 tl                                0
             3.2 tl - sport                        0
...                                              ...
volvo        xc90 t6 awd                           0
             xc90 t8 hybrid inscription            0
             xc90 t8 inscription                   0
             xc90 v8                               0
             xc90 v8 awd                           0

[12879 rows x 4 columns]

In [73]:
size_mapping_dict = dict()
for single_col in crosstab_df_sz:
  size_mapping_dict[single_col] = crosstab_df_sz[single_col].index[crosstab_df_sz[single_col].argmax()]

In [74]:
for k,v in size_mapping_dict.items():
  boolean_mask = (data["model"] == v[1]) & (data["manufacturer"] == v[0])
  data.loc[boolean_mask,"size"] = data.loc[boolean_mask,"size"].fillna(value=k,inplace=False)

In [75]:
data.isna().sum()

price               0
year                0
manufacturer        0
model               0
condition           0
cylinders           0
fuel                0
odometer            0
transmission        0
drive               0
size            35937
type             1893
paint_color         0
dtype: int64

In [76]:
data['size'].value_counts()

full-size      56923
mid-size       33650
compact        15170
sub-compact     2337
Name: size, dtype: int64

In [77]:
data["size"].fillna(value=data["size"].value_counts().index[data["size"].value_counts().argmax()],inplace=True)

In [78]:
data.isna().sum()

price              0
year               0
manufacturer       0
model              0
condition          0
cylinders          0
fuel               0
odometer           0
transmission       0
drive              0
size               0
type            1893
paint_color        0
dtype: int64

**CREATING A CROSS TAB FOR FILLING TYPE**

For filling up the missiing values in type. it creates a table with coloumn as the types and the rows as the intersection of model and manufacturer. which means the each block contain the types car of the perticular manufacturer and model.

In [79]:
data['type'].unique()

array(['truck', 'pickup', 'other', 'coupe', 'mini-van', 'SUV', 'sedan',
       'offroad', 'bus', 'van', 'convertible', 'hatchback', 'wagon', nan],
      dtype=object)

In [80]:
type = np.array(data["type"])
manufacturer = np.array(data['manufacturer'])
model = np.array(data['model'])

In [81]:
crosstab_df_typ = pd.crosstab([manufacturer,model],type,rownames=["manufacturer","model"], colnames=['type'])

In [82]:
crosstab_df_typ

type                                     SUV  bus  convertible  coupe  \
manufacturer model
acura        2002 rsx type s               0    0            0      2
             3.0cl                         0    0            0      3
             3.2 cl type s                 0    0            0      3
             3.2 tl                        0    0            0      0
             3.2 tl - sport                0    0            0      0
...                                      ...  ...          ...    ...
volvo        xc90 t6 awd                   3    0            0      0
             xc90 t8 hybrid inscription    0    0            0      0
             xc90 t8 inscription           1    0            0      0
             xc90 v8                       2    0            0      0
             xc90 v8 awd                   1    0            0      0

type                                     hatchback  mini-van  offroad  other  \
manufacturer model
acura        2002 rsx type s                     0         0        0      0
             3.0cl                               0         0        0      0
             3.2 cl type s                       0         0        0      0
             3.2 tl                              0         0        0      0
             3.2 tl - sport                      0         0        0      0
...                                            ...       ...      ...    ...
volvo        xc90 t6 awd                         0         0        0      0
             xc90 t8 hybrid inscription          0         0        0      0
             xc90 t8 inscription                 0         0        0      0
             xc90 v8                             0         0        0      0
             xc90 v8 awd                         0         0        0      0

type                                     pickup  sedan  truck  van  wagon
manufacturer model
acura        2002 rsx type s                  0      0      0    0      0
             3.0cl                            0      0      0    0      0
             3.2 cl type s                    0      0      0    0      0
             3.2 tl                           0      8      0    0      0
             3.2 tl - sport                   0      1      0    0      0
...                                         ...    ...    ...  ...    ...
volvo        xc90 t6 awd                      0      0      0    0      0
             xc90 t8 hybrid inscription       0      6      0    0      0
             xc90 t8 inscription              0      0      0    0      0
             xc90 v8                          0      0      0    0      0
             xc90 v8 awd                      0      0      0    0      0

[14678 rows x 13 columns]

In [83]:
type_mapping_dict = dict()
for single_col in crosstab_df_typ:
  type_mapping_dict[single_col] = crosstab_df_typ[single_col].index[crosstab_df_typ[single_col].argmax()]

In [84]:
for k,v in type_mapping_dict.items():
  boolean_mask = (data["model"] == v[1]) & (data["manufacturer"] == v[0])
  data.loc[boolean_mask,"type"] = data.loc[boolean_mask,"type"].fillna(value=k,inplace=False)

In [85]:
data.isna().sum()

price              0
year               0
manufacturer       0
model              0
condition          0
cylinders          0
fuel               0
odometer           0
transmission       0
drive              0
size               0
type            1742
paint_color        0
dtype: int64

In [86]:
data['type'].value_counts()

sedan          38307
SUV            34924
truck          18989
pickup         15505
coupe           9881
hatchback       5251
convertible     4042
van             4022
wagon           3905
other           3612
mini-van        3015
offroad          567
bus              255
Name: type, dtype: int64

In [87]:
data["type"].fillna(value=data["type"].value_counts().index[data["type"].value_counts().argmax()],inplace=True)

In [88]:
data.isna().sum()

price           0
year            0
manufacturer    0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
drive           0
size            0
type            0
paint_color     0
dtype: int64

We have successfully filled all the missing values